{% load mainapp_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'style/persian-datepicker.css'%}"/>
     <link type="text/css" rel="stylesheet" href="{% static 'style/bootstrap.rtl.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'style/style.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'fonts/fontawsome/webfonts/all.css'%}">
    <title>سامانه نقل و انتقالات مواد نفتی </title> 

</head>

<body class="bg-light">
    <!-- {% user_tank_station as uts %} -->
    {% user_tank_station as uts %}

    {% include 'includes/messages.html' %}

    <header class=" text-white text-center p-3 pb-0" style="background-color:#212A3E;">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-3 pt-1">
                {% if  request.user.is_authenticated %}
                <a id="user-wel">
                    <p id="user-login"><i class="fa-user fa-light fa-lg "></i> اقای {{request.user.get_full_name}} خوش آمدید. </p>
                    
                </a>
                <!-- <span >{{person.person_region}}/{{person.person_station}}</span> -->
                <span id="user-information" >{{uts.person_information.person_region}}/{{uts.person_information.person_station}}</span>

                <a class="text-danger" href="{% url 'accounts:logout' %}" id="user-logout"> خروج </a>
                {% endif %}

                
            </div>
            <h4 class=" col-md-6 pt-3" id="main-page-header">سامانه نقل و انتقالات مواد نفتی</h4>
            <div class="col-md-3 ">
                <img src="{% static 'images/nioc.png'%}" id="logo-img">
                <p id="logo-text">شرکت خطوط لوله و مخابرات نفت ایران </p>
            </div>
        </div>
    </header>

   {% include 'includes/menu.html'%}

    {%block content %}

    {%endblock%}

    
    <footer class=" text-white text-center p-1 fixed-bottom font1" id="clock" style="background-color:#212A3E;">
        ساعت
    </footer>

</body>
<script type="text/javascript " src="{% static 'js/bootstrap.js'%}"></script>
<script type="text/javascript " src="{% static 'js/clock.js'%} "></script>
<script type="text/javascript " src="{% static 'js/javascript.js'%} "></script>
<script type="text/javascript " src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript " src="{% static 'js/persian-date.js'%} "></script>
<script type="text/javascript " src="{% static 'js/persian-datepicker.js'%} "></script>

<script type="text/javascript">
    $('.observer-example').persianDatepicker({
    observer: true,
    format: 'YYYY/MM/DD',
    // altField: '.observer-example-alt',
    "autoClose": true,
    "onlySelectOnDate": true,
    
    toolbox: {
    "enabled": true,
    "calendarSwitch": {
      "enabled": false,
      "format": "MMMM"
    }},
    calendar:{
        persian: {
            locale: 'en'
        }
    }
});
  </script>  


</html>
