{% extends 'base2.html' %}
{% load static %}
{% load mainapp_tags %}
{%block content %}
{% user_tank_station as uts %}
{% include 'includes/messages.html' %}
        <table>
            <tr>
              <th>item</th>
              <th>tankid</th>
              <th>rdate</th>
              <th>billid</th>
              <th>size</th>
              <th>temperature</th>
              <th>water</th>
              <th>status</th>
              <th>specweight</th>
              <th>refinery</th>
              <th>naturallitr</th>
              <th>litr60</th>
              <th>hour</th>
              <th>cyear</th>
              <th>envtemp</th>
            </tr>
            {% for calc in data_list %}
            <tr>
              
                <th><a href="{% url 'mainapp:update_data' calc.calcid %}">{{calc.calcid}}</a></th>
                <th>{{calc.tankid}}</th>
                <th>{{calc.rdate}}</th>
                <th>{{calc.billid}}</th>
                <th>{{calc.size}}</th>
                <th>{{calc.temprature}}</th>
                <th>{{calc.water}}</th>
                <th>{{calc.status}}</th>
                <th>{{calc.specweight}}</th>
                <th>{{calc.refinery}}</th>
                <th>{{calc.naturallitr}}</th>
                <th>{{calc.litr60}}</th>
                <th>{{calc.hour}}</th>
                <th>{{calc.cyear}}</th>
                <th>{{calc.envtemp}}</th>            
            </tr>
            {% endfor %}
         
          </table>


{% endblock %}