{% extends 'base.html' %}
{% load mainapp_tags %}
{% load static %}
{%block content %}

    <div class="container content-page">
        <div class="row m-2 mb-4" >
           <div class="row"> 
            <div class="col-md-6">   
                <h3 class="m-3 mb-5">
                    فرم تحویل و تحول روزانه
                </h3>
            </div>
            <div class="col-md-6"> 
            <p>
                {% for tank in uts.user_tank %}
                {% if tank.tanktype is 2 %}
                <button class="btn btn-danger m-1" style="font-size: 10px;">{{tank.tankname}}</button>
                        <!-- {% if tank.prodid is 2 %}<button class="btn btn-danger m-1">{{tank}}</button>{% endif %} -->
                        <!-- {% if tank.prodid is 7 %}<button class="btn btn-warning m-1">{{tank}}</button>{% endif %}
                        {% if tank.prodid is 5 %}<button class="btn btn-success m-1">{{tank}}</button>{% endif %}
                        {% if tank.prodid is 6 %}<button class="btn btn-primary m-1">{{tank}}</button>{% endif %}
                        {% if tank.prodid is 23 %}<button class="btn btn-info m-1">{{tank}}</button>{% endif %}
                        {% if tank.prodid is 13 %}<button class="btn btn-dark m-1">{{tank}}</button>{% endif %} -->
                {% endif %}
                {% endfor %}
            </p>
            </div>    
            
            </div> 
            
            <!-- <div class="">
                <button class="btn btn-primary" id="add-item">اضافه کردن </button>
                <button class="btn btn-danger" id="remove-item">حذف کردن </button>
            </div> -->
        
        </div>
       
        <form role="form " method="post">
            {% csrf_token %}
            <div class="form-row text-center d-flex flex-row m-1">
                <!-- <a class="form-group col-md-1 " style=" visibility: hidden;">i-class</a> -->
                <label class="form-group col-md-1 form-label ">تاریخ</label>
                <label class="form-group col-md-1">ساعت</label>
                <label class="form-group col-md-1">وضعیت </label>
                <label class="form-group col-md-1 form-label">شماره قبض</label>
                <label class="form-group col-md-1 form-label">شماره مخزن</label>
                <label class="form-group col-md-1 form-label">ارتفاع مخزن</label>
                <label class="form-group col-md-1 form-label">دمای سیال </label>
                <label class="form-group col-md-1">آب</label>
                <label class="form-group col-md-1 form-label">نوع فرآورده</label>
                <label class="form-group col-md-1">وزن</label>
                <label class="form-group col-md-1">دمای محیط </label>
            </div>

            <div class="form-row" id="form-groupx" style="font-size: 15px;">
                    <div class="form-itemsx d-flex flex-row m-1"> 
                        <!-- <a  class="form-group col-md-1 p-3"><i class="fa-plus fa-regular plus-item"></i></a> -->
                       <input name="rdate" type="" style="font-size: 15px; " class="observer-example form-group col-md-1" />
                       <input name="hour" type="time" class="form-group col-md-1" />
                        <select name="status" class="form-group col-md-1">
                                        <option value="1 ">اولیه</option>
                                        <option value="2 ">ثانویه</option>
                                        <option value="3 ">در اختیار </option>
                        </select>
                        <input name="billid" type=" " class="form-group col-md-1" placeholder="شماره قبض" />
                        
                        <select name="tankid" class="form-group col-md-1" placeholder="شماره مخزن" >
                                    {% for tank in uts.user_tank %}
                                    {% if tank.tanktype is 2 %}
                                    <option value="{{tank.tankid}}">{{tank.tankname}}</button>
                                    {% endif %}
                                    {% endfor %}
                        </select>
                        
                        <input name="size" type=" " class="form-group col-md-1" placeholder="اندازه مخزن" />
                        <input name="temprature" type="number" min="0" max="60"  class="form-group col-md-1" placeholder="دما" />
                        <input name="water" type="number" max="800" class="form-group col-md-1" placeholder="آب" />
                        <select name="refinery" class="form-group col-md-1 ">
                                    <option value="Kerosine ">نفت سفید</option>
                                    <option value="Gasoil ">گازوئیل</option>
                                    <option value="Motor Spirite ">بنزین</option>
                                    
                        </select>
                        <input name="specweight" type="number" min="720" max="860"  class="form-group col-md-1" placeholder="وزن" />
                        <input name="envtemp" type="number" min="-10" max="60" class="form-group col-md-1" placeholder="دمای محیط" />
                    </div>
            </div>
            <div class="d-flex justify-content-end">
            <button type="button " class="btn btn-success form-group m-4 register-button " value="ثبت نهایی " >ثبت نهایی </button>
            </div>
        </form>



    </div>

{% endblock %}
