{% load mainapp_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'style/persian.datepicker.css' %}"/>
     <link type="text/css" rel="stylesheet" href="{% static 'style/bootstrap.rtl.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'style/style.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'fonts/fontawsome/webfonts/all.css'%}">
    <title>مرکز انتقال رفسنجان</title>
    {% user_tank_station as uts %}

</head>

<body class="bg-light">
    {% include 'includes/messages.html' %}


    <header class=" bg-dark text-white text-center p-3 pb-0">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-3 pt-2">
                {% if  request.user.is_authenticated %}
                <a id="user-wel">
                    <p id="user-login"><i class="fa-user fa-light fa-lg "></i> اقای {{request.user.get_full_name}} خوش آمدید. </p>
                    
                </a>
                <!-- <span >{{person.person_region}}/{{person.person_station}}</span> -->
                <span >{{uts.person_information.person_region}}/{{uts.person_information.person_station}}</span>

                <a class="text-danger" href="{% url 'accounts:logout' %}" id="user-logout"> خروج </a>
                {% endif %}

                
            </div>
            <h3 class=" col-md-6 pt-3" id="main-page-header">سامانه نقل و انتقالات مواد نفتی</h3>
            <div class="col-md-3 ">
                <img src="{% static 'images/nioc.png'%}" id="logo-img">
                <p id="logo-text">شرکت خطوط لوله و مخابرات نفت ایران </p>
            </div>
        </div>
    </header>
    

    <div class="container content-page">
        <div class="row m-2 mb-4" >
           <div class="row"> 
            <div class="col-md-6">   
                <h3 class="m-3 mb-5">
                    فرم تحویل و تحول روزانه
                </h3>
            </div>
            <div class="col-md-6"> 
            <p>
                {% for tank in uts.user_tank %}
                {% if tank.tanktype is 2 %}
                <button class="btn btn-warning m-1">{{tank}}</button>
                {% endif %}
                {% endfor %}
            </p>
            </div>    
            
            </div> 
            
            <div class="">
                <button class="btn btn-primary" id="add-item">اضافه کردن </button>
                <button class="btn btn-danger" id="remove-item">حذف کردن </button>
            </div>
        
        </div>
       
        <form role="form " method="post">
            {% csrf_token %}
            <div class="form-row text-center d-flex flex-row m-1">
                <!-- <a class="form-group col-md-1 " style=" visibility: hidden;">i-class</a> -->
                <label class="form-group col-md-1 form-label ">تاریخ</label>
                <label class="form-group col-md-1">ساعت</label>
                <label class="form-group col-md-1">وضعیت </label>
                <label class="form-group col-md-1 form-label">شماره قبض</label>
                <label class="form-group col-md-1 form-label">شماره مخزن</label>
                <label class="form-group col-md-1 form-label">ارتفاع مخزن</label>
                <label class="form-group col-md-1 form-label">دمای سیال </label>
                <label class="form-group col-md-1">آب</label>
                <label class="form-group col-md-1 form-label">نوع فرآورده</label>
                <label class="form-group col-md-1">وزن</label>
                <label class="form-group col-md-1">دمای محیط </label>
            </div>

            <div class="form-row" id="form-groupx">
                    <div class="form-itemsx d-flex flex-row m-1"> 
                        <!-- <a  class="form-group col-md-1 p-3"><i class="fa-plus fa-regular plus-item"></i></a> -->
                       <input name="rdate" type="date" class=" form-group col-md-1" />
                       <input name="hour" type="time" class="form-group col-md-1" />
                        <select name="status" class="form-group col-md-1">
                                        <option value="1 ">اولیه</option>
                                        <option value="2 ">ثانویه</option>
                                        <option value="3 ">در اختیار </option>
                        </select>
                        <input name="billid" type=" " class="form-group col-md-1" placeholder="شماره قبض" />
                        
                        <select name="tankid" class="form-group col-md-1" placeholder="شماره مخزن" >
                                    {% for tank in uts.user_tank %}
                                    {% if tank.tanktype is 2 %}
                                    <option value="{{tank.tankid}}">{{tank}}</button>
                                    {% endif %}
                                    {% endfor %}
                        </select>
                        
                        <input name="size" type=" " class="form-group col-md-1" placeholder="اندازه مخزن" />
                        <input name="temprature" type="number" min="0" max="60"  class="form-group col-md-1" placeholder="دما" />
                        <input name="water" type="number" max="800" class="form-group col-md-1" placeholder="آب" />
                        <select name="refinery" class="form-group col-md-1 ">
                                    <option value="Kerosine ">نفت سفید</option>
                                    <option value="Gasoil ">گازوئیل</option>
                                    <option value="Motor Spirite ">بنزین</option>
                                    
                        </select>
                        <input name="specweight" type="number" min="720" max="860"  class="form-group col-md-1" placeholder="وزن" />
                        <input name="envtemp" type="number" min="-10" max="60" class="form-group col-md-1" placeholder="دمای محیط" />
                    </div>
            </div>
            <div class="d-flex justify-content-end">
            <button type="button " class="btn btn-success form-group m-4 register-button " value="ثبت نهایی " >ثبت نهایی </button>
            </div>
        </form>



    </div>

    <footer class="bg-dark text-white text-center p-1 fixed-bottom font1" id="clock">
        ساعت
    </footer>


 
</body>
<script type="text/javascript " src="{% static 'js/bootstrap.js'%}"></script>
<script type="text/javascript " src="{% static 'js/clock.js'%} "></script>
<script type="text/javascript " src="{% static 'js/javascript.js'%} "></script>
<script type="text/javascript " src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript " src="{% static 'js/persian-date.js'%} "></script>
<script type="text/javascript " src="{% static 'js/persian-datepicker.js'%} "></script>

<script type="text/javascript">
    $(document).ready(function() {
      
        $('.initial-value-example').persianDatepicker({
    initialValue: false
});
    });
    
  </script>  



</html>