{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style/bootstrap.rtl.css' %}" rel="stylesheet">
    <link href="{% static 'style/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style/login.css' %}" rel="stylesheet" type="text/css">
    <title>Log In</title>
</head>
<body>
    {% include 'includes/messages.html' %}
    
    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">

  <!-- right block -->
  <div class="col-lg-6">
    <div class="p-5">

        <div class="mb-3">
            <!-- <h3 class="h4 font-weight-bold text-theme">Login</h3> -->

            <div class="col-md-4  mx-auto">
                <img src="{% static 'images/nioc.png' %}" id="logo-img">
                <p id="logo-text">شرکت خطوط لوله و مخابرات نفت ایران </p>
            </div>

        </div>

            <h6 class="h5 mb-1 font1" style="text-align: center;" >سامانه نقل و انتقلات مواد نفتی </h6>


        <p class="text-muted mt-4 mb-5 font2">صفحه ورود </p>

        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            
            <div class="form-group mb-3 font2">
                <label >نام کاربری</label>
                <input name="username" type="text" class="form-control mt-2">
            </div>
            <div class="form-group mb-3 font2">
                <label for="exampleInputPassword1">رمز عبور</label>
                <input name ="password" type="password" class="form-control mt-2" >
            </div>
            <button type="submit" class="btn btn-theme font1">ورود</button>
            <!-- <a href="#l" class="forgot-link float-right text-primary">فراموشی رمز عبور</a> -->
        </form>
    </div>
</div>
<!-- left block -->
                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                        <!-- <h4 class="text-white mb-4">سامانه نقل و انتقالات مواد نفتی</h4> -->
                                        <!-- <p class="lead text-white mb-4">"سامانه نقل و انتقالات مواد نفتی"</p> -->
                                        <!-- <h3 class="mb-4">"سامانه نقل و انتقالات مواد نفتی"</h3> -->
                                        <!-- <p>- Admin User</p> -->
                                    </div>
                                </div>
                            </div>

                           
                         
                        </div>
    
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
    
                <p class="font1 text-center mt-3 mb-0" id="clock">8:10:45</p>
    
                <!-- end row -->
    
            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div> 
</body>
<script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/clock.js' %}" type="text/javascript"></script>

</html>